:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
}

body {
  font-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--light-pink) url(/assets/images/background-pattern-mobile.svg) no-repeat top center;
  min-height: 100vh;
  padding: 10rem 1.65rem;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.faqs {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 1rem rgba(0, 0, 0, 0.1);
}

.faqs__title-container {
  display: flex;
  gap: 1.65rem;
  align-items: center;
  margin-bottom: 2rem;
}

.faqs__title {
  color: var(--dark-purple);
  font-weight: 700;
  font-size: 2rem;
}

.faqs__list-item {
  aspect-ratio: 1/1;
  width: 1.7rem;
}

.faqs__question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem
}

.faqs__question {
  color: var(--dark-purple);
  font-size: 0.95rem;
  font-weight: 700;
}
.faqs__question:hover {
  color: #301534
}

.faqs__line {
  width: 100%;
  height: 1px;
  background-color: var(--light-pink);
  margin: 1.5rem 0
}

.faqs__answer {
  color: var(--grayish-purple);
  height: 0;
  overflow: hidden;
  margin: 0;
  overflow-y: auto;
}

.show-content {
  height: fit-content;
  font-size: 0.95rem;
  margin-top: 1rem
}

@media (min-width: 375px) {
  body {
    background-image: url(public/assets/images/background-pattern-desktop.svg);
  }

  .faqs {
    max-width: 38rem;
    padding: 5%
  }

  .faqs__list-item {
    width: 2.25rem
  }

  .faqs__title {
    font-size: 3rem;
  }

  .faqs__question {
    font-size: 1.125rem;
  }

  .faqs__answer {
    font-size: 1.1rem;
    font-weight: 400;
  }
}